@import "../../../assets/scss/mediaQuery.scss";

.volume {
	background: #030b1e;
	border: 1px solid rgba(42, 71, 113, 0.5);
	box-shadow: inset 7px 7px 16px 1px #262b38;
	border-radius: 20px;
	padding: 40px 20px;
	margin-bottom: 20px;
	min-width: 40%;

	@include mq700px {
		margin-top: 20px;
	}

	.highcharts-title {
		display: none;
	}

	.highcharts-background {
		fill: #030b1e !important;
		--darkreader-inline-fill: #030b1e !important;
	}
	.ant-tabs-tab-active {
		background: #052e64 !important;
		border-color: #052e64 !important;
	}
	.comdex-tabs {
		align-items: end;
		margin: 10px 0;

		@include mq700px {
			align-items: center;
			margin: 10px 0;
		}
	}
}
