@import "../../../assets/scss/mediaQuery.scss";

.volume {
	background: #030b1e;
	border: 1px solid rgba(42, 71, 113, 0.5);
	box-shadow: inset 7px 7px 16px 1px #262b38;
	border-radius: 20px;
	padding: 40px 20px;
	margin-bottom: 20px;
	min-width: 40%;

	@include mq700px {
		margin-top: 20px;
	}

	.volume-graph {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		@include mq530px {
			text-align: center;
			flex-direction: column;
		}

		.graph-info {
			padding: 0 0 20px 30px;

			@include mq530px {
				padding: 0 0 20px 5px;
			}

			.graph-title {
				font-weight: 400;
				font-size: 18px;
				color: #73aed2;
			}
			.graph-price {
				font-weight: 700;
				font-size: 32px;
				color: #ffffff;
				margin-top: 10px;

				@include mq530px {
					font-weight: 700;
					font-size: 25px;
				}
			}
		}
	}

	.highcharts-title {
		display: none;
	}

	.highcharts-background {
		fill: #030b1e !important;
		--darkreader-inline-fill: #030b1e !important;
	}
	.ant-tabs-tab-active {
		background: #052e64 !important;
		border-color: #052e64 !important;
	}
	.comdex-tabs {
		align-items: end;
		margin: 10px 0;

		@include mq700px {
			align-items: center;
			margin: 10px 0;
		}
	}
}
